{% extends 'base.html' %}

{% block meta %}
    <title>{{ nama_toko }}</title>
{% endblock meta %}

{% block content %}
    <h1>welcome to {{ nama_toko }}!</h1>
    <p>selamat datang di jual bola, dan lain lain.</p>
    <ul>
        <li>made by: <strong>{{ nama_pembuat }}</strong></li>
        <li>kelas: <strong>{{ kelas_pbp }}</strong></li>
    </ul>

    <a href="{% url 'main:create_product' %}">
        <button>+ Add Product</button>
    </a>

    <hr />

    <h2>Daftar Produk</h2>

    {% if not products %}
        <p>Belum ada data produk pada JUAL BOLA DLL.</p>
    {% else %}
        {% for product in products %}
            <div>
                <h3><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h3>

                {% if product.thumbnail %}
                    <img src="{{ product.thumbnail }}" alt="thumbnail {{ product.name }}" width="250">
                    <br />
                {% endif %}

                <p>
                    <b>Harga:</b> Rp{{ product.price }} |
                    <b>Kategori:</b> {{ product.category }}
                    {% if product.is_featured %}
                        | <b>⭐ Rekomendasi Produk!</b>
                    {% endif %}
                </p>

                <p>{{ product.description|truncatewords:25 }}...</p>

                <a href="{% url 'main:show_product' product.id %}">
                    <button>Lihat Detail</button>
                </a>
            </div>
            <hr />
        {% endfor %}
    {% endif %}

{% endblock content %}